body {
    background-color: #000;
    background-image: url("images/moss04.jpg");
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    /* background-position-y: bottom;  */

    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* 200 – 800 */
    font-style: normal;

}

/* id rule uses hashtag #, only one per page */
#wrapper {
    margin: 100px auto;
    width: 60%;
    background-color: #fff;
    padding: 30px 50px;
    /* background-image: url("images/moss03.jpg"); */
}

/* class rules use a period to make a rule about a class, use multiple times */
.wow {
    color: #f00;
    font-weight: 900;
    font-style: italic;
}

header h1 {

    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 66px;
}

main p {

    font-size: 18px;
    line-height: 24px;
}

main h2 {
    border: #f00 solid 10px;
    background-color: #d2e82A;
    padding: 120px 10px 10px 10px;
    margin: 40px 0px;
    font-size: 44px;
}

main div.featuredImageOne {
    border: solid rgb(60, 80, 6) 10px;
    background-color: #b0df42;
    padding: 40px;
    margin: 100px auto;
    width: 300px;
    text-align: center;
}

main div.featuredImageOne img {
    width: 100%;
}

table,
th,
td,
tr {
    margin: 0px;
    padding: 0px;

}


main table {
    border: 10px solid rgb(192, 192, 192);
    background-color: rgb(255, 207, 74);

}

main table th {
    border: 5px solid rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 33px;
    padding: 22px;

}

main table td {
    border: 5px solid rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);

}

nav {
    background-color: #535c11;
    padding: 40px 0px;
    text-align: center;
}

nav a {
    font-size: 33px;
    border: #f00 solid 5px;
    background-color: #D2E82A;
    padding: 10px 20px;
    margin: 20px;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    background-color: #fff;
}
main .funfact{
    border: 3px dashed #2f3e0e;
    background-color: #D2E82A;
    padding: 15px 20px;
    margin: 50px 0 30px;
    width: 90%;
    text-align: left;
    box-shadow: 0 6px 16px #00000026;
    margin: 50px auto 30px;
}
main .funfact-images{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 15px;
}

main .funfact-images img {
    width: 45%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}
main .funfact h3{
    font-family: "Bitcount Ink", sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px; 
}
main .funfact p{
    margin-top: 0px; 
    color:#535c11;
}
main .funfact-desc{
    margin-top: 20px; 
    color:#535c11;
    text-align: center;
}