
body {
	font-family: helvetica, arial, sans-serif;
	background: url('./images/background.jpg') no-repeat center center;
	position:relative;
    background-size: cover;
	min-height: 1000px;
    overflow-x: hidden;
	backdrop-filter: blur(2px);
	background-color: #4e3636;
}

h1 {
	color: #e6dedc;
	text-align: center;
	font-family: "DynaPuff", system-ui;
	font-size: 3rem;
}

#left-container {
	left: 0px;
}

#right-container {
	right: 0px;
}

.container {
	background-color: #e6d192;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
	border-radius: 12px;

}

.gif-slot {
    position: relative;
    height: 13%;
    left: -10px;
}
.gif-img {
    position:absolute;
    max-width:180px;
    max-height:180px;
    width:auto;
    height:auto;
    object-fit: contain;
    z-index: 2;
}
#scrapbook {
    position: relative;
    width:60%;
    height:700px;
    margin:2rem auto;
    background: #c8b090;
    display:flex;
    justify-content:center;
    align-items:stretch;
    border: 10px solid #8a4b31;
    box-shadow: 0 0 20px #fd8f8f4d;
}
.page-left{
	width: 50%;
    background: #e5d3b3;
    background-size: cover;
    position:relative;
}
.page-right{
	width: 50%;
    background: #e5d3b3;
    background-size: cover;
    position:relative;
}
.binding {
    width: 4%;
    background: #b28a67;
    position: relative;
    box-shadow: inset 0 0 10px #00000033;
}
.string-top,.string-bot{
    width: 40%;
    height: 6px;
    background: #5c3b25;
    border-radius: 6px;
    position: absolute;
    left: 30%;
}
.string-top {
    top: 25%;
}
.string-bot{
    top: 75%;
}
